#connection-server, #connection-database {
    width: 20%;
}

#cli-output {
    white-space: pre-wrap;
}

.tab-pane {
    margin-left:20px;
}

.keys-row:hover {
    background-color: #8bc72a;
}

#keys-value {
    float:right;
    width: 30%;
    margin-right: 20px;
}

#keys-keys {
    width: 40%;
}
#keys-value-value {
    height:80%;
}

#keys-output {
    width: 40%;
    float:left;
}

.navbar-nav>.active>a {
    background-color: #8bc72a !important;
    color: black !important;
}

a {
    color: #8bc72a !important;
}