#cli-command {
    font-size: 25px;
    width: 100%;
}
#cli-input-wrapper {
    width: 30%;
    float:left;
}
#cli-input-wrapper>span {
    font-size: 25px;
}

#cli-output {
    white-space: pre-wrap;
}

#cli-wrapper {
    float:left;
    width:100%;
}

#cli-help {
    float:right;
    width: 30%;
    margin-right:10%;
}

.tab-pane {
    margin-left:20px;
}

.nav-link {
    font-size: 25px;
}

.keys-row:hover {
    background-color: #8bc72a !important;
}

.tabwrap {
    margin-top: 10px;
}

#keys-count-wrapper {
    float:left;
    width: 15%;
}

#keys-count {
    width: 100%;
}

#keys-pattern-wrapper {
    float:left;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

#keys-pattern {
    width: 100%;
}

#keys-value {
    width: 30%;
    float: right;
}

#keys-keys {
    width: 70%;
    float: left;
    font-size: 25px;
}

#keys-value-wrapper>p {
    font-size: 25px;
}

#keys-value-delete {
    font-size: 25px;
    margin-bottom: 5px;
}

#keys-value-wrapper {
    position: fixed;
    height: 60%;
    width: 25%;
}

#keys-value-value {
    height: 100%;
    width: 100%;
}

#keys-value-export {
    font-size: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#keys-value-status {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

#keys-output {
    width: 100%;
}

#keys-output-table {
    width: 40%;
    float: left;
    margin-right: 21%;
}

.navbar-nav>.active>a {
    background-color: #8bc72a !important;
    color: black !important;
}

li>a {
    color: #8bc72a !important;
}

#connection-wrapper {
    float: left;
    width: 30%;
    font-size: 25px !important;
}
td, th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
/*
#connection-namespaces-table > tbody > tr > td, #connection-namespaces-table > tbody > tr > th, #connection-table > tbody > tr > td, #connection-table > tbody > tr > th{
    padding-left: 10px;
    padding-right: 10px;
}
*/

#connection-namespaces-table > td, #connection-namespaces-table > th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#connection-info {
    margin-top: 20px;
    float: left;
    width: 40%;
}

#connection-namespaces {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

#connection-server {
    margin-bottom: 5px;
}
#connection-status-wrapper {
    float:right;
}

#connection-status {
    border: none;
}

#connection-status:hover {
    background-color: inherit;
    border:none;
}

select {
    font-size: 25px !important;
    max-width: 50%;
}

#redis-logo {
    max-height: 250px;
    width: auto;
    height: auto;
    display: block;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}

.marked {
    background-color: #8bc72a;
}

.checkbox {
    display: inline !important;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}