#connection-server, #connection-database {
    width: 20%;
}

#cli-command {
    font-size: 20px;
    width: 30%;
}

#cli-output {
    white-space: pre-wrap;
}

.tab-pane {
    margin-left:20px;
}

.keys-row:hover {
    background-color: #8bc72a;
}

#keys-value {
    width: 30%;
    margin-left: 60%;
}

#keys-keys {
    width: 40%;
    float: left;
}

#keys-value-wrapper {
    position: fixed;
    height: 90%;
    min-width: 30%;
}

#keys-value-value {
    height:80%;
}

#keys-output {
    width: 40%;
    float: left;
    margin-right: 21%;
}

.navbar-nav>.active>a {
    background-color: #8bc72a !important;
    color: black !important;
}

a {
    color: #8bc72a !important;
}

.marked {
    background-color: #8bc72a;
}